<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.filehub.service.library.dao.LibraryMapper">
    <resultMap id="BaseResultMap" type="com.example.filehub.commons.entity.Library">
        <!--@mbg.generated on Thu Apr 16 13:55:01 CST 2020.-->
        <!--@Table `library`-->
        <id column="library_id" jdbcType="INTEGER" property="libraryId"/>
        <result column="library_name" jdbcType="VARCHAR" property="libraryName"/>
        <result column="library_desc" jdbcType="VARCHAR" property="libraryDesc"/>
        <result column="owner_uid" jdbcType="INTEGER" property="ownerUid"/>
        <result column="followers_count" jdbcType="INTEGER" property="followersCount"/>
        <result column="library_url" jdbcType="VARCHAR" property="libraryUrl"/>
        <result column="privacy_type" jdbcType="BOOLEAN" property="privacyType"/>
        <result column="library_creation_time" jdbcType="TIMESTAMP" property="libraryCreationTime"/>
        <result column="library_creation_uid" jdbcType="INTEGER" property="libraryCreationUid"/>
        <result column="library_last_update_time" jdbcType="TIMESTAMP" property="libraryLastUpdateTime"/>
        <result column="library_last_update_uid" jdbcType="INTEGER" property="libraryLastUpdateUid"/>
        <collection property="files" ofType="com.example.filehub.commons.entity.File" javaType="arraylist">
            <id property="fileId" column="file_id" jdbcType="INTEGER"/>
            <result property="fileDisplayName" column="file_display_name" jdbcType="VARCHAR"/>
            <result property="fileCreationTime" column="file_creation_time" jdbcType="VARCHAR"/>
            <result property="fileCreationUid" column="file_creation_uid" jdbcType="VARCHAR"/>
            <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
        </collection>
        <collection property="collaborators" ofType="com.example.filehub.commons.entity.user.UserAccountInfo"
                    javaType="linkedlist">
            <id property="userId" column="uid" jdbcType="INTEGER"/>
            <result property="userLoginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="userNickname" column="nickname" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated on Thu Apr 16 13:55:01 CST 2020.-->
        `library_id`, `library_name`, `library_desc`, `owner_uid`, `followers_count`, `library_url`,
        `privacy_type`, `library_creation_time`, `library_creation_uid`, `library_last_update_time`,
        `library_last_update_uid`
    </sql>
    <sql id="Joint_Column_List_With_Files">
            `library`.`library_id`,
            `library`.`library_name`,
            `library`.`library_desc`,
            `library`.`owner_uid`,
            `library`.`followers_count`,
            `library`.`library_url`,
            `library`.`privacy_type`,
            `library`.`library_creation_time`,
            `library`.`library_creation_uid`,
            `library`.`library_last_update_time`,
            `library`.`library_last_update_uid`,
            `f`.`file_id`,
            `f`.`file_display_name`
    </sql>
    <sql id="Joint_Column_List_With_Collaborators">
            `library`.`library_id`,
            `library`.`library_name`,
            `library`.`library_desc`,
            `library`.`owner_uid`,
            `library`.`followers_count`,
            `library`.`library_url`,
            `library`.`privacy_type`,
            `library`.`library_creation_time`,
            `library`.`library_creation_uid`,
            `library`.`library_last_update_time`,
            `library`.`library_last_update_uid`,
            `u`.`uid`,
            `u`.`login_name`,
            `u`.`nickname`
    </sql>

    <insert id="insertLibraryCollaboratorRelationship">
        INSERT INTO `library_collaborator`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="libraryId != null">library_id,</if>
            <if test="uid != null">`uid`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="libraryId != null">#{libraryId,jdbcType=INTEGER},</if>
            <if test="uid != null">#{uid,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByFollowersCountGreaterThanOrEqualToOrderByFollowersCountDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="minFollowersCount != null">
                and followers_count <![CDATA[>=]]> #{minFollowersCount,jdbcType=INTEGER}
            </if>
        </where>
        order by followers_count desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByLibraryCreationTimeBeforeOrderByLibraryCreationTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="maxLibraryCreationTime != null">
                and library_creation_time <![CDATA[<]]> #{maxLibraryCreationTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by library_creation_time desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByLibraryLastUpdateTimeBeforeOrderByLibraryLastUpdateTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="maxLibraryLastUpdateTime != null">
                and library_last_update_time <![CDATA[<]]> #{maxLibraryLastUpdateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by library_last_update_time desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidOrderByFollowersCountDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
        </where>
        order by followers_count desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidOrderByLibraryLastUpdateTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
        </where>
        order by library_last_update_time desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidOrderByLibraryName" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
        </where>
        order by library_name asc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidAndPrivacyTypeFalseOrderByFollowersCountDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
            and privacy_type = false
        </where>
        order by followers_count desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidAndPrivacyTypeFalseOrderByLibraryLastUpdateTimeDesc" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
            and privacy_type = false
        </where>
        order by library_last_update_time desc
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-04-16-->
    <select id="findAllByOwnerUidAndPrivacyTypeFalseOrderByLibraryName" resultMap="BaseResultMap">
        select
        <include refid="Joint_Column_List_With_Collaborators"/>
        from library
        LEFT JOIN `library_collaborator` `lc`
        ON `library`.`library_id` = `lc`.`library_id`
        LEFT JOIN `user` `u` ON `lc`.`uid` = `u`.`uid`
        <where>
            <if test="ownerUid != null">
                and owner_uid=#{ownerUid,jdbcType=INTEGER}
            </if>
            and privacy_type = false
        </where>
        order by library_name asc
    </select>
</mapper>